<div class="gridContainerSrv painelSrv">

    <div class="nav-srv itemNav hc">{{menu}}</div>

    <div class="status-srv itemGreen status ">
        <a href="#" data-target="mobile-navbar" class="sidenav-trigger "><i class="material-icons srv-c-6 mt-3 ml-5">menu</i></a>
        <a id="btn-logout-srv" class="btnRed btn  right mr-5 mt-1  vc" href="{{URL}}/srv/logout" style="min-height:70%;">Sair <i class="material-icons right">lock_open</i></a></div>
    
    <div class="content-srv itemRed">{{content}}</div>
    
</div>