
/* CLASSE FONTE COLOR */
.racs-c-1{color: var(--racs1);}
.racs-c-2{color: var(--racs2);}
.racs-c-3{color: var(--racs3);}
.racs-c-4{color: var(--racs4);}
.racs-c-5{color: var(--racs4);}
.racs-c-6{color: var(--racs5);}
.racs-c-7{color: var(--racs6);}
/* CLASSE BACKGROUND COLOR */
.racs-bkg-1{background-color: var(--racs1);}
.racs-bkg-2{background-color: var(--racs2);}
.racs-bkg-3{background-color: var(--racs3);}
.racs-bkg-4{background-color: var(--racs4);}
.racs-bkg-5{background-color: var(--racs4);}
.racs-bkg-6{background-color: var(--racs5);}
.racs-bkg-7{background-color: var(--racs6);}
/* CLASSE TEXT COLOR */
.text-color-racs1{color: var(--racs1);}
.text-color-racs2{color: var(--racs2);}
.text-color-racs3{color: var(--racs3);}
.text-color-racs4{color: var(--racs4);}
.text-color-racs4{color: var(--racs4);}
/* CSS DE SUPORTE DAS PAGES RACS */
.home-container{ height: 100vh;}
.cadastro-cliente{width: 80%;}
.card{ min-width: 200px;}
.footer-racs{background-color: var(--racs3);}
.nav-racs{ background-color: var(--racs3);}
/*Configurações Gerais*/
/*Extra-small*/

.background-login-racs{
    position:absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
    background: url('http://localhost/app-sao-roque-e-voce/back-end/img/water-1920.jpg') no-repeat; background-size: auto;
    opacity: 0.9;
    
}
/*------- Painel de configurações do Racs ------ */
.gridContainerRacs{
    display: grid;
    height: 100vh;
}
.painelRacs{
    grid-template:
    "status-racs status-racs status-racs status-racs" 15vh
    "nav-racs content-racs content-racs content-racs" 
    /1fr 3fr 2fr 1fr
}
.itemNavRacs{
    grid-area: nav-racs;
    background-color: var(--racs2);
 }
 .itemGreenRacs{
    grid-area: status-racs;
    background-color: var(--racs2);
}
.itemRedRacs
{
    grid-area: content-racs;
    background-color: var(--racs4);
}

/*----------------- Nav lateral--------------- */
.nav-collection-racs{ 
    display: flex;
    flex-direction: column;
    /* Precisa de uma altura maxima */
    height: 300px;
}
.nav-collection-item-racs{
    width: 100%;
    height: 50px;
    padding-left: 25px;
    font-size: 1.3rem;
    color: var(--srv8);
    margin-right: 20px;
}
.nav-collection-item-racs:hover{
    background-color: var(--racs4);
    font-weight: 900;
    color: var(--racs2);
}
.active-racs{
    background-color: var(--racs4);
    color: var(--racs2);
    font-weight: 900;
}
#btn-logout-racs{
    background-color: var(--racs2);
}
#btn-logout-racs:hover{
    background-color: var(--racs2);
}


@media screen and (max-width: 480px){
    .img-sobre{
       width: 60px;
    }

}
/*Small*/
@media screen and (min-width: 481px) and (max-width: 768px){
        .img-sobre{
            width: 70px;
    }
}
/* @media screen and (min-width: 769px) and (max-width: 1199px){
 

} */

/*Large*/
/* @media screen and (min-width: 1200px){
} */ 