
/* CLASSE FONTE COLOR */
.racs-c-1{color: var(--racs1);}
.racs-c-2{color: var(--racs2);}
.racs-c-3{color: var(--racs3);}
.racs-c-4{color: var(--racs4);}
.racs-c-5{color: var(--racs4);}
.racs-c-6{color: var(--racs5);}
.racs-c-7{color: var(--racs6);}
/* CLASSE BACKGROUND COLOR */
.racs-bkg-1{background-color: var(--racs1);}
.racs-bkg-2{background-color: var(--racs2);}
.racs-bkg-3{background-color: var(--racs3);}
.racs-bkg-4{background-color: var(--racs4);}
.racs-bkg-5{background-color: var(--racs4);}
.racs-bkg-6{background-color: var(--racs5);}
.racs-bkg-7{background-color: var(--racs6);}
/* CLASSE TEXT COLOR */
.text-color-racs1{color: var(--racs1);}
.text-color-racs2{color: var(--racs2);}
.text-color-racs3{color: var(--racs3);}
.text-color-racs4{color: var(--racs4);}
.text-color-racs4{color: var(--racs4);}
/* CSS DE SUPORTE DAS PAGES RACS */
.home-container{ height: 100vh;}
.cadastro-cliente{width: 80%;}
.card{ min-width: 200px;}
.footer-racs{background-color: var(--racs3);}
.navRacs{ background-color: var(--racs3);}

.fwb{font-weight: bold;}
.fwr{font-weight:bolder;}
.fw6{font-weight:600;}
/*Configurações Gerais*/
/*Extra-small*/

.backgroundLoginRacs{
    position:absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100vh; 
    background: url('http://localhost/app-sao-roque-e-voce/back-end/img/imgLogin/water-1920.jpg') no-repeat; background-size: auto ;
    opacity: 0.9;
    
}
.headerLoginRacs{
    width: 100%;
    height: 10vh;
}
.cardLoginRacsContent{
    width: 100%;
    height: 90vh;

}
.cardLoginRacs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*------- Painel de configurações do Racs ------ */
.gridContainerRacs{
    display: grid;
    height: 100vh;
}
.painelRacs{
    grid-template:
    "statusRacs statusRacs statusRacs statusRacs" 8vh
    "navRacs contentRacs contentRacs contentRacs" 92vh
    /0.5fr 3fr 2fr 1fr
}
.itemNavRacs{
    grid-area: navRacs;
    background-color: var(--racs2);
 }
 .itemGreenRacs{
    grid-area: statusRacs;
    background-color: var(--racs2);
}
.itemRedRacs
{
    grid-area: contentRacs;
    background-color: var(--racs4);
}

.btnLogoutRacs{
    background-color: var(--racs2);

}

.btnLogoutRacs:hover{
    background-color: var(--racs1);

}

/*----------------- Nav lateral--------------- */
.navCollectionRacs{ 
    display: flex;
    flex-direction: column;
    
}
.navCollectionItemRacs{
    width: 100%;
    height: 50px;
    padding-left: 25px;
    font-size: 1.3rem;
    color: var(--srv8);
    margin-right: 20px;
}
.navCollectionItemRacs:hover{
    background-color: rgba(255, 255, 255, 0.09);
    /* font-weight: 900; */
    color: var(--srv8);
}
.activeRacs{
    background-color: var(--racs4);
    color: var(--racs2);
    font-weight: 700;
}
.activeRacs:hover{
    background-color: rgb(255, 255, 255);
    color: var(--racs2);
    font-weight: 900;
}

/*-------Estilo do scroll -----*/
.containerRacs::-webkit-scrollbar {
    width: 12px;               
}
  
.containerRacs::-webkit-scrollbar-track {
    background: var(--srv6);     
}
.containerRacs::-webkit-scrollbar-thumb {
    background-color: var(--racs2);    
    border-radius: 20px;      
    border: 3px solid var(--srv6);
  }
/*Scroll firefox */
.containerRacs{
    scrollbar-color: var(--racs2) var(--srv6);
    scrollbar-width: 10px;
}


#btn-logout-racs{
    background-color: var(--racs2);
}
#btn-logout-racs:hover{
    background-color: var(--racs2);
}

/* Apps */

.containerRacs{
    margin: 0px;
    padding: 0px;
    position: relative;
    max-height: 92vh;
    overflow-y: scroll;
    background-color: var(--srv6);
    
    
}

.navTabs{
    height: 50px;
}

.appsListaRacs{
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
    display: flex;
    min-height: calc(92vh - 50px);
    background-color: #f0f0f0;
}

.tabelaAppRacs{
    margin: 0px;
    padding: 0px;
    width: 100%;

} 

table{
    margin: 0px;
    padding: 0px;
    display:block;
    overflow-y:scroll;
    border: 1px solid black;


}
 
thead, tbody{
    display: block; 
   
}

thead{
    color: var(--racs1);
}
tbody{
    max-height: calc(96vh - 50px);
    font-size: 10px;
}
.telaRacs{
    margin: 20px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    background-color:rgb(117, 253, 253);
 
}
.previewAppRacs{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aqua;
}

 .celularAppRacs{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 10px;
    width: 80mm;
    height: auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(28, 204, 204);


 }
 .telaAppRacs{
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-top: 20px;
    border:3px solid black ;
    border-radius: 1px;
    width: 64mm;
    min-height: 134mm;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--srv8);
    justify-content: center;
    background-color:rgb(46, 169, 169);

 }

 .displayAppRacs{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 25px;
    background-color:white;
 }
 
 .headerAppRacs{
    width: 100%;
    height: 40px;
    background-color:rgb(223, 211, 211);
 }
 
 .tituloAppRacs{
    width: 100%;
    height: 30px;
    background-color:rgb(204, 179, 179);

 }

 .statusAppRacs{
    width: 100%;
    height: 15px;
    background-color:rgb(174, 140, 140);

 }
 .carrocelAppRacs{
    width: 100%;
    height: 130px;
    padding: 10px 0px 0px 0px; 
    background-color:rgb(141, 107, 107);

 }
 
 .seletoresAppRacs{
    width: 100%;
    /* Altura provisoria */
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(126, 88, 88);

 }

 .descricaAppCRacs{
    width: 100%;
    height: 80px;
    background-color:rgb(126, 80, 80);

 }


 .comentarioAppRacs{
    width: 100%;
    height: 50px;
    background-color:rgb(104, 73, 73);

 }
 .enderecoAppRacs{
    width: 100%;
    height: 40px;
    background-color:rgb(68, 40, 40);
 }
 


@media screen and (max-width: 480px){
    .img-sobre{
       width: 60px;
    }
    .backgroundLoginRacs{
        position:absolute; 
        top: 0; left: 0; 
        width: 100%; 
        height: 100vh; 
        background: url('http://localhost/app-sao-roque-e-voce/back-end/img/imgLogin/water-800.jpg') no-repeat; background-size: auto ;
        opacity: 0.9;   
    }

}
/*Small*/
@media screen and (min-width: 481px) and (max-width: 768px){
        .img-sobre{
            width: 70px;
    }
    .backgroundLoginRacs{
        position:absolute; 
        top: 0; left: 0; 
        width: 100%; 
        height: 100vh; 
        background: url('http://localhost/app-sao-roque-e-voce/back-end/img/water-1200.jpg') no-repeat; background-size: auto ;
        opacity: 0.9;
        
    }

}
/* @media screen and (min-width: 769px) and (max-width: 1199px){
 
} */

/*Large*/
/* @media screen and (min-width: 1200px){
} */ 