/* SISTEMA DE COR SÃO ROQUE E VOCẼ */

.f-popi{font-family: 'Poppins', sans-serif;}
.f-robo{font-family: 'Roboto', sans-serif; font-weight: bold;}
.c-pri{color: var(--srv3);}
.c-sec{color: var(--srv4);}

/* CLASSE DE CORES*/
.srv-c-1{color: var(--srv1);}
.srv-c-2{color: var(--srv2);}
.srv-c-3{color: var(--srv3);}
.srv-c-4{color: var(--srv4);}
.srv-c-5{color: var(--srv5);}
.srv-c-6{color: var(--srv6);}
.srv-c-7{color: var(--srv7);}
.srv-c-8{color: var(--srv8);}
.srv-c-9{color: var(--srv9);}
.srv-c-10{color: var(--srv10);}
/* CLASSE BACKGROUND */
.srv-bkg-1{background-color: var(--srv1);}
.srv-bkg-2{background-color: var(--srv2);}
.srv-bkg-3{background-color: var(--srv3);}
.srv-bkg-4{background-color: var(--srv4);}
.srv-bkg-5{background-color: var(--srv5);}
.srv-bkg-6{background-color: var(--srv6);}
.srv-bkg-7{background-color: var(--srv7);}
.srv-bkg-8{background-color: var(--srv8);}
.srv-bkg-9{background-color: var(--srv9);}
.srv-bkg-10{background-color: var(--srv10);}

/* CLASSES PARA CARD LOGIN */
.fwb{font-weight: bold;}
.fwm{font-weight: 500;}
.dibl{display: block;}

/* card Login */
.background-login-srv{
    position:absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100vh; 
    background: url('http://localhost/app-sao-roque-e-voce/back-end/img/imgLogin/vinho-1300.jpg') no-repeat; background-size: auto;
    opacity: 0.9;
}
.header-login-src{
    width: 100%;
    height: 10vh;
}
.card-login-src-content{
    width: 100%;
    height: 90vh;

}
.card-login-src{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* .card-login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.z-depth-3{
    background-color: #fff;
    opacity: .9;
}
.login{
    width: 400px;
    height: 300px;
    padding: 30px;
}
.div-button{
    background-color: #fff;
    opacity: 0.7;
}
.gif{
    width: 80px;
}

/*------- Painel de configurações do cliente ------ */
.gridContainerSrv{
    display: grid;
    height: 100vh;
}
.painelSrv{
    grid-template:
    "status-srv status-srv status-srv status-srv" 8vh
    "nav-srv content-srv content-srv content-srv" 92vh
    /0.5fr 3fr 2fr 1fr
}
.itemNav{
    grid-area: nav-srv;
    background-color: var(--srv1);
}
 .itemGreen{
    grid-area: status-srv;
    background-color: var(--srv1);
}
.itemRed{
    grid-area: content-srv;
    background-color: var(--srv6);
}

/*----------------- Nav lateral--------------- */
.nav-collection{ 
    display: flex;
    flex-direction: column;
    /* Precisa de uma altura maxima */
    height: 300px;
}
.nav-collection-item{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 1.3rem;
    color: var(--srv8);
}
.nav-collection-item:hover{
    background-color: rgba(39, 199, 83, 0.8);
    color: white;
}
.active{
    background-color: var(--srv6);
    color: var(--srv1);
    font-weight: 900;
}
.active:hover{
    background-color: rgb(255, 255, 255);
    color: var(--srv1);
    font-weight: 900;
}

/*-------Estilo do scroll -----*/
.containerSrv::-webkit-scrollbar {
    width: 12px;               
}
  
.containerSrv::-webkit-scrollbar-track {
    background: var(--srv6);     
}
.containerSrv::-webkit-scrollbar-thumb {
    background-color: var(--srv1);    
    border-radius: 20px;      
    border: 3px solid var(--srv6);
  }
/*Scroll firefox */
.containerSrv{
    scrollbar-color: var(--srv1) var(--srv6);
    scrollbar-width: 10px;
}

/* ---------------Tutorial------------- */
.detalhes-tutorial{
    background-color: var(--srv8);
    height: 400px;
}

/* ----------Config-----------*/

.containerSrv{
    position: relative;
    max-height: 92vh;
    overflow-y: scroll;
    background-color: var(--srv6);
    padding: 20px 50px 20px 50px;
}
/* Detalhes */
.modal{
    width: 30%;
}
.icon-ajuda{
    background-color:var(--help);
    border-radius: 50%;
    padding: 2px;
    color: #fff;
}
.icons-ajuda-fechar{
    color: var(--error); 
}
.obrigatorio{
    color: var(--srv2);
}

/* --------Tela------- */
.celular{
    border:1px solid black ;
    border-radius: 10px;
    width: 80mm;
    height: auto;
    padding-bottom: 50px; 
}
.telaCelular{
    margin-top: 20px;
    border:3px solid black ;
    border-radius: 1px;
    width: 64mm;
    min-height: 134mm;
    height: auto;
    padding-bottom: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--srv8);
}
.displayCelular{
    width: 100%;
    height: 25px;
    background-color:var(--srv8);
}
.headerCelular{
    width: 100%;
    height: 40px;
}
.headerItem{
    padding: 10px 0px 0px 0px;
}

/* Fonte App */

.nomeCelular{
    width: 100%;
    height: 30px;
}
.statusCelular{
    width: 100%;
    height: 15px;
}
.carrocelCelular{
    width: 100%;
    min-height: 130px;
    padding: 10px 0px 0px 0px;  
}

#slide{
    width: 200px;
    overflow: hidden;
    margin:auto;
    height: 120px;
    box-shadow: 0 0 8px #000;
    border-radius: 10px;
    position: relative;
}
#slide img {
    width: 200px;
    height: 120px;
    position: absolute;
    z-index: 1;
    display: none;
    left: 0;
}
.seletoresCelular{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.opcaoWrap{
    min-width: 16mm;
}
.dot1 {
    height: 1px;
    width: 100px;
    background-color: #920046 ;
    border-radius: 50%;
    display:block;
    margin: 10px auto;
}
.descricaoCelular{
    width: 100%;
}
.comentarioCelular{
    width: 100%;
}
.dot2 {
    height: 1px;
    width: 100px;
    background-color: #920046 ;
    border-radius: 50%;
    display:block;
    margin: 3px auto 3px auto;
}
.enderecoCelular{
    width: 100%;
    height: 20px;
}
.servicosBox{
    border: 1px solid #920046;
    border-radius: 10px;
    min-height: 120px;
}
.detalhes-tutorial-screw{
    background-color: var(--srv8);
    height: 700px;
}

/*Configurações Gerais*/
/*Extra-small*/
@media screen and (max-width: 480px){
    
}
/*Small*/
@media screen and (min-width: 481px) and (max-width: 768px){
    .background-login-srv{
        position:absolute; 
        top: 0; left: 0; 
        width: 100%; 
        height: 100vh; 
        background: url('http://localhost/app-sao-roque-e-voce/back-end/img/imgLogin/vinho.jpg') no-repeat; background-size: auto;
        opacity: 0.9;
    }
  
} 
/*Medium*/
@media screen and (min-width: 769px) and (max-width: 1199px){
   
}

/*Large*/
/* @media screen and (min-width: 1200px){
} */ 