<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<div class=" servicosBox  ml-2 mr-2 p-1">

    <div class="mt-1 vc">{{nome}} <img src="{{URL}}/img/imgApp/23-1.jpg"  alt="Imagem de logotipo" style="width: 25px; margin-left: 10px;" ></div>

        <div >

            <span class='dropdown-trigger fz-10' data-target='dropdown1'><i class='c-pri fz-15 far fa-clock'></i> Horários <i class="fas fa-angle-down c-pri fz-5"></i></span>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li class="p-1">{{horarios}}</li>
            </ul>
        </div>

        <div >{{endereco}}</div>

        <div >{{telefone}}</div>

        <div >{{site}}</div>  


</div>
  

<div class=" servicosBox mt-3 ml-2 mr-2 p-1">

    <div class="mt-1 vc"><p class='c-popi fz-10 fwb'>Outro anúncio</p><img src="{{URL}}/img/logo-racs-100.png"  alt="Imagem de logotipo" style="width: 25px; margin-left: 10px;" ></div>

        <div >

            <span class='dropdown-trigger fz-10' data-target='dropdown1'><i class='c-pri fz-15 far fa-clock'></i> Horários <i class="fas fa-angle-down c-pri fz-5"></i></span>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li class="p-1">{{horarios}}</li>
            </ul>
        </div>

        <div >"<i class='c-pri fz-15 fas fa-map-marked-alt'></i><span class='c-popi fz-5'> Rua Paulo , Nº200, Centro</span></div>

        <div ><i class='c-pri fz-15 fas fa-phone-volume'></i><span class='c-popi fz-5'> (11) 00000-0000</span></div>

        <div ><i class='pb-5 c-pri fz-15 fas fa-globe'></i><span class='c-popi fz-5'> www.racsstudios.com</span></div>  


</div>
   

