<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<div class=" servicosBox  ml-2 mr-2 ">
    <div class="col s10  ">
        
        <div class="col s12 p-0 m-0">
            <span class='dropdown-trigger fz-10 p-0 m-0' data-target='dropdown1'><i class='c-pri fz-15 far fa-clock'></i> Horários <i class="fas fa-angle-down c-pri fz-5"></i></span>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li class="p-1">{{horarios}}</li>
            </ul>
        </div>
        <div class="col s12 mt-1">{{endereco}}</div>
        <div class="col s12">{{telefone}}</div>
        <div class="col s12">{{site}}</div>                                                      
    </div>

    <div class="col s2 ">
        <div class="col s12 "></div>                                                                                                       
        <div class="col s12 "></div>                                                                                                       
        <div class="col s12 ">{{logo}}</div>                                                                                                       
    </div>
</div>
  
   

