<div class="hc">
    <div class="">
        <i class="tiny material-icons   c-pri">star</i>
        <i class="tiny material-icons   c-pri">star</i>
        <i class="tiny material-icons   c-pri">star</i>
        <i class="tiny material-icons   c-pri">star_half</i>
        <i class="tiny material-icons   c-pri">star_border</i>
    </div>

    <div class="mr-5 ml-2">
        <i class="tiny material-icons  c-pri">forum</i>
        <span class=" f-popi c-pri fz-10">35</span>
    </div>

    <div class="ml-5">
        <i class="c-sec tiny material-icons">monetization_on</i>
        <i class="c-sec tiny material-icons">monetization_on</i>
    </div>

</div>