<table >
       <thead class="tabelaRacs">
              <tr>
                     <th>Nome Fantasia</th>
                     <th>Segmento</th>
                     <th>Tipo</th>
                     <th>Celular</th>
                     <th>Email</th>
                     <th>Selecionar</th>
              </tr>
       </thead>
       <tbody class=" listaTabelaRacs">
              {{tbodyApps}}
              {{tbodyApps}}
              {{tbodyApps}}
              {{tbodyApps}}
              {{tbodyApps}}
       </tbody>
</table>