<article class="infoCliente">
        <h1 class=" fwb fzc-20 racs-c-1">Informações sobre {{nomeFantasia}}</h1>
        <p><b class="fwb fz-18">Responsável: </b>{{name}} <b class="fwb fz-18">CPF: </b>{{cpf}}</p>
        <p><b class="fwb fz-18">Telefone: </b>{{phone}} <b class="fwb fz-18">Aniversario: </b>{{birthDate}}</p>
        <p><b class="fwb fz-18">Email: </b>{{email}}</p>
        <p><b class="fwb fz-18">Tipo de usuário: </b>{{permission}}</p>
        <p><b class="fwb fz-18">Situação: </b>{{status}}</p>
            <br>
            <hr>
            <br>
        <p><b class="fwb fz-18">Segmento:</b>{{segmento}}</p>
        <p><b class="fwb fz-18">Tipo:</b>{{tipo}}</p>
        <p><b class="fwb fz-18">Email:</b>{{email}}</p>
        <p><b class="fwb fz-18">Telefone:</b>{{telefone}}</p>
        <p><b class="fwb fz-18">Site:</b>{{site}}</p>
        <p><b class="fwb fz-18">Celular:</b>{{celular}}</p>
        <p><b class="fwb fz-18">CEP:</b>{{cep}}</p>
        <p><b class="fwb fz-18">Logradouro:</b>{{logradouro}}</p>
        <p><b class="fwb fz-18">Numero:</b>{{numero}}</p>
        <p><b class="fwb fz-18">Bairro:</b>{{bairro}}</p>
        <p><b class="fwb fz-18">Localidade:</b>{{localidade}}</p>
        <p><b class="fwb fz-18">Visualizacôes:</b>{{visualizacao}}</p>
</article>