<div class="row">

    <div class="col s12 previewRacs">
      
        <div class="celularRacs">

            <div class="telaRacs ">

                <div class="row">
                        <div class="col s12 displayRacs">{{display}}</div>
                
                
                        <div class="col s12 headerRacs">{{header}}</div>
                    
                    
                        <div class="col s12 tituloRacs">{{nome}}</div>
                    
                    
                        <div class="col s12 statusRacs">{{status}}</div>
                
                    
                        <div class="col s12 carrocelRacs">{{carrocel}}</div>


                        <div class="col s12 seletoresRacs">{{seletores}}</div>
                
                
                        <div class="col s12 descricaoCRacs">{{descricao}}</div>
                    

                        <div class="col s12 comentarioRacs">{{comentario}}</div>
                
                    
                        <div class="col s12 enderecoRacs">{{endereco}}</div>
                </div>

            </div>
        
        </div>    
            
    </div>

</div>