<div class="row">

    <div class="col s12 previewAppRacs">
      
        <div class="celularAppRacs">

            <div class="telaAppRacs">

                <div class="row ">
                        <div class="col s12 displayAppRacs">{{display}}</div>
                
                
                        <div class="col s12 headerAppRacs">{{header}}</div>
                    
                    
                        <div class="col s12 tituloAppRacs">{{nome}}</div>
                    
                    
                        <div class="col s12 statusAppRacs">{{status}}</div>
                
                    
                        <div class="col s12 carrocelAppRacs">{{carrocel}}</div>


                        <div class="col s12 seletoresAppRacs">{{seletores}}</div>
                
                
                        <div class="col s12 descricaAppCRacs">{{descricao}}</div>
                    

                        <div class="col s12 comentarioAppRacs">{{comentario}}</div>
                
                    
                        <div class="col s12 enderecoAppRacs">{{endereco}}</div>
                </div>

            </div>
        
        </div>    
            
    </div>

</div>