<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
   <link rel='stylesheet' href='{{URL}}/app/assets/styles.min.css'>
   
    <title>{{title}}</title>
  </head>
  <body >
      <div class="container-fluid">

      
      
          {{content}}
      
       

      </div>
      <!-- <input class="float" type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" required>
      <script src='https://www.google.com/recaptcha/api.js?render={{SITEKEY}}'></script> -->
      <script> const sitekey ='{{SITEKEY}}'; </script>
      <script src='{{URL}}/app/assets/javascripts.min.js'></script>

      <script>M.AutoInit();</script>
     
    </body>
  </html>