
<footer class="page-footer navRacs">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">RACS studios</h5>
          <p class="grey-text text-lighten-4">Software a serviço da sociedade.</p>
          <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                    alt="CSS válido!" />
                </a>
            </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Parceiros</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.fatecsaoroque.edu.br/">Fatec</a></li>
            <li><a class="grey-text text-lighten-3" href="">Morro dos vagalumes</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Parceiro</a></li>
           
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright todos direitos reservados a racs studios
      <a class="grey-text text-lighten-4 right" href="http://www.racsstudios.com/">RACS</a>
      </div>
    </div>
  </footer>