<nav class="navRacs">
    <div class="nav-wrapper">
        <a href="{{URL}}/" class="brand-logo ml-3 mt-1"><img src="{{URL}}/img/logoNav.png" alt="Logomarca da racs"></a>
        <a href="#" data-target="mobile-navbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="fwb f-popi" href="{{URL}}/">Home</a></li>
            <li><a class="fwb f-popi" href="{{URL}}/products">Sobre SVC</a></li>
            <li><a class="fwb f-popi" href="{{URL}}/sobre">Sobre RACS</a></li>
            <li><a class="fwb f-popi" href="{{URL}}/contato">Contato</a></li>
            <li><a class="fwb f-popi" href="{{URL}}/api">API Publica</a></li>
            <a class='dropdown-trigger f-popi btn-large #00b0ff light-blue accent-3' href='#' data-target='dropdown1'> Login Minha Cidade e Você </a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a  href="{{URL}}/srv/login">São Roque e Você</a></li>
                <li><a  href="#!">Itu e Vocé</a></li>
                <li><a  href="#!">Mairínque e Você</a></li>
                <li><a  href="#!">Alumínio e Você</a></li>
            </ul>
        </ul>
    </div>  
</nav>

<ul class="sidenav" id="mobile-navbar">
   <li><a href="{{URL}}/">Home <i class="material-icons">home</i></a></li> 
    <li><a href="{{URL}}/products">Sobre SVC <i class="material-icons racs-icons ">store</i></a></li>
    <li><a href="{{URL}}/sobre">Sobre RACS <i class="material-icons racs-icons ">group_work</i> </a></li>
    <li><a href="{{URL}}/contato">Contato <i class="material-icons racs-icons ">phone</i> </a></li>
    <li><a href="{{URL}}/api">API <i class="material-icons racs-icons ">brightness_auto</i> </a></li>
    <li><a class='dropdown-trigger'  href='#' data-target='dropdown2'>Login MCV <i class="material-icons racs-icons">arrow_upward</i></a></li>
    <ul id='dropdown2' class='dropdown-content'>
        <li><a href="{{URL}}/srv/login">São Roque e Você</a></li>
        <li><a href="#!">Itu e Vocé</a></li>
        <li><a href="#!">Mairínque e Você</a></li>
        <li><a href="#!">Alumínio e Você</a></li>
    </ul>
</ul>
