<nav class="navRacs">
    <div class="nav-wrapper">
        <a href="{{URL}}/" class="brand-logo ml-3 mt-1"><img src="{{URL}}/img/logoNav.png" alt="Logomarca da racs"></a>
        <a href="#" data-target="mobile-navbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="fwb f-popi" href="{{URL}}/">Home</a></li>
            <li><a class="fwb f-popi" href="{{URL}}/products">Sobre SVC</a></li>
            <li><a class="fwb f-popi" href="{{URL}}/sobre">Sobre RACS</a></li>
            <li><a class="fwb f-popi" href="{{URL}}/contato">Contato</a></li>
            <li><a class="f-popi btn-large #01579b light-blue darken-4" href="{{URL}}/srv/login">Login SRV<i class="material-icons right">arrow_upward</i></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-navbar">
   <li><a href="{{URL}}/">Home <i class="material-icons">home</i></a></li> 
    <li><a href="{{URL}}/products">Sobre SVC <i class="material-icons">store</i></a></li>
    <li><a href="{{URL}}/sobre">Sobre RACS <i class="material-icons ">group_work</i> </a></li>
    <li><a href="{{URL}}/contato">Contato <i class="material-icons ">phone</i> </a></li>
    <li><a href="{{URL}}/srv/login">Racs <i class="material-icons">arrow_upward</i></a></li>
</ul>
