<nav class="nav-racs">
  <div class="nav-wrapper">
    <a href="{{URL}}/" class="brand-logo ml-3 mt-1"><img src="{{URL}}/img/logoNav.png" alt="Logomarca da racs"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{URL}}/">Home</a></li>
      <li><a href="{{URL}}/products">Produtos</a></li>
      <li><a href="{{URL}}/sobre">Sobre</a></li>
      <li><a class=" btn-large #01579b light-blue darken-4" href="{{URL}}/srv/root">RACS <i
            class="material-icons right">build</i></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="#">Produtos</a></li>
  <li><a href="#">Sobre</a></li>
  <li><a href="{{URL}}/cadastro">Cadastre -se</a></li>
  <li><a hhref="{{URL}}/srv">Login </a></li>
</ul>