<input class="float" type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" required>
<div class="row ">
    <div class="col s12 ">
            <h1 class=" fz-30 ">{{name}}</h1>
            <hr>
        </div>
</div>


<div class="row z-depth-3 m-3 p-5">
    <div class="col s12  ">
        <h1 class="fz-30 fwb vc racs-c-1 " >Conheça a mais nova vitrine de São Roque</h1>
     
    </div>
    <div class="col s12 m1"></div>

    <div class="col s12 m6 hc  mb-5">
        <img  src="{{URL}}/img/propaganda.png" style="width: 70%;" class="responsive-img ml-5 ">
   </div>

    <div class="col s12 m5 ">
        <h3 class="fz-30 fwb " >Tudo em um so lugar</h3>
       <ul>
           <li>Pontos turísticos  <i class="material-icons">check</i></li>
           <li>Hospendages  <i class="material-icons">check</i></li>
           <li>Gastronomia  <i class="material-icons">check</i></li>
           <li>Comércio em geral <i class="material-icons">check</i></li>
       </ul>
       <br>
       <p class="fw6">Faça parte desta vitrine e cadastre seu empreendimento gratis</p>
       <a class=" btn-large #01579b light-blue darken-4 pulse m-5 " href="{{URL}}/products">Saiba mais<i
        class="material-icons right">touch_app</i></a>
    </div>
<img src="" alt="">
   
</div>


<div class="row hc">
    <div class="col l12 ">
        <h3 class="vc fwb">Racs Smart City</h3>
        <div class="vc mt-5 mb-5" ><img  src="{{URL}}/img/smart-home-1280.jpg"  alt="imagem de uma cidade" class="responsive-img"></div>
        <p class="fz-20 m-3 vc">A RACS tem a soluções para o desenvolvimento da sua cidade. 
            Entre em contato para conhecer nosso soluçôes.</p>
    </div>
</div>


<div class="container">
        <h3 class="fz-30 vc m-5">Nossos Parceiros</h3>
    <div class="row  ">
        <div class="col vc s12 m4 mt-3 mb-3">
            <img src="{{URL}}/img/logofatec.png" alt="Logotipo da fatec" style="width:50%;" >
        </div>
        <div class="col vc s12 m4  mt-3 mb-3">
            <img src="{{URL}}/img/morro-dos-vagalumes.jpeg" alt="Logotipo do morro do vagalume" class="circle" style="width:50%;"  >
        </div>
        <div class="col vc s12 m4  mt-3 mb-3">
            <img src="{{URL}}/img/game-zone.jpg" alt="Logotipo do game zone" class="circle" style="width:50%;" >
        </div>
    </div>
</div>


