<input class="float" type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" required>
<div class="row hc ">
    <div class="col l12 ">
            <h1 class=" fz-40 ">{{name}}</h1>
            <hr>
        </div>

</div>
<div class="row hc">
    <div class="col l12 ">
        <h3 class="vc" >Pensando no futuro</h3>
        <div class="vc mt-5 mb-5" > <img  src="{{URL}}/img/city-800.jpg" class="circle responsive-img"></div>
        <p class="fz-20 vc">Compromisso, trabalho em equipe e melhoria contínua são chaves para conquistar excelência em qualidade e satisfação dos clientes.</p>
    </div>
</div>


    <h3 class="vc m-5">Nossos Parceiros</h3>
<div class="row  vcs">
    <div class="col vc s12 m4">
        <img src="{{URL}}/img/logofatec.png" >
    </div>
    <div class="col vc s12 m4">
        <img src="{{URL}}/img/morro-dos-vagalumes.jpeg"class="circle"  >
    </div>
    <div class="col vc s12 m4">
        <img src="{{URL}}/img/game-zone.jpg" class="circle" >
    </div>
</div>



        

