<input class="float" type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" required>
<div class="row ">
    <div class="col s12 ">
            <h2 class=" fz-20 ">{{name}}</h2>
            <hr class="hr-racs2">
        </div>
</div>

<div class="row z-depth-3 m-3 p-5">
    <div class="col s12  ">
        <h2 class="fz-30 fwb vc racs-c-2 " >Minha Cidade e Você chega a  São Roque</h2>
     
    </div>
    <div class="col s12 m1"></div>

    <div class="col s12 m6 hc  mb-5">
        <img  src="{{URL}}/img/propaganda.png" style="width: 70%;" class="responsive-img ml-5 ">
   </div>


    <div class="col s12 m5 ">
        <h3 class="fz-20 fwb racs-c-1 " >Tudo em um so lugar</h3>
       <ul>
           <li>Pontos turísticos  <i class="racs-c-1 material-icons">check</i></li>
           <li>Hospendages  <i class="racs-c-1 material-icons">check</i></li>
           <li>Gastronomia  <i class="racs-c-1 material-icons">check</i></li>
           <li>Comércio em geral <i class="racs-c-1 material-icons">check</i></li>
           <li>Eventos <i class="racs-c-1 material-icons">check</i></li>
           <li>Serviços <i class="racs-c-1 material-icons">check</i></li>
       </ul>
       <br>
       <p class="fw6">Faça parte desta vitrine e cadastre seu empreendimento gratis</p>
       <a class=" btn-large pulse #00b0ff light-blue accent-3 m-5 " href="{{URL}}/products">Saiba mais<i
        class="material-icons right">touch_app</i></a>
    </div>
<img src="" alt="">
   
</div>

<div class="row container">
        <h1 class="vc fz-30 fwb racs-c-2">Minha Cidade e Você</h1>
        <div class="col s12 m6 ">
            <p>Você sabe quantos estabelecimentos há em sua cidade?</p>
            <p>Conhece todos os restaurantes, hotéis ela possui?</p>
            <p>Ou já comprou algo na cidade vizinha porque não sabia se haveria em sua localidade?</p> 
            <p>Conhece alguém que visitou sua cidade e não conheceu todos espaços de lazer que ela possui?</p>
            <p>Sabe a quantidade de benefícios que sua cidade esta perdendo por falta de informação?</p> 
            <img src="{{URL}}/img/questao.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->     
           
        </div>
        <div class="col s12 m6">
            <img src="{{URL}}/img/turista.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p>Agora imagine um turista que visita a sua cidade?</p>
            <p>Será que se houvesse um aplicativo para você e ele consultar
                 onde e como chegar a qualquer ponto da cidade e ainda ter 
                 em mãos as avaliações de outros usuários que já visitaram o lugar ajudaria?</p> 
        </div>
        <div class="col l12 ">
            <h3 class="vc fz-20 fwb racs-c-2">Então saiba que ele existe!</h3>
            <p><b class="racs-c-2">MCV-Minha Cidade e você</b> é o sistema que vai dar  
                visibilidade a todos estabelecimentos do município em um único aplicativo, 
                com design moderno, intuitivo e objetivo, facilitando a busca de comércios, 
                produtos, serviços, eventos na cidade, desdo mais simples serviço a maior comércio local.</p>
            <p class="fz-20 m-3 vc racs-c-1">Agora sua cidade está palma da mão</p>

        <div class="vc mt-5 mb-5" ><img  src="{{URL}}/img/smart-home-1280.jpg"  alt="imagem de uma cidade" class="responsive-img"></div>

        <div class="col s12 m6">
            
            <h3 class="vc fz-20 fwb racs-c-1">Quais cidades podem aderir ao sistema?</h3>

            <p>O sistema está disponível para cidades com até 200 mil habitantes. 
                Mas fique tranquilo para cidades maiores o sistema logo ganhara uma 
                versão para tratar por regiões do município. Entre em <a href="{{URL}}/contato"><b>contato</b></a> e enviar uma mensagem para saber mais sobre essa versão.   </p>
        
        </div>
       
        <div class="col s12 m6">
           
            <h3 class="vc fz-20 fwb racs-c-1">O que preciso fazer para ter o sistema em minha cidade?</h3>
       
            <p>Basta acessar nossa página de <a href="{{URL}}/contato"><b>contato</b></a> e solitar um reunião para avaliar as características de seu município. </p>
        
        </div>

    </div>
</div>
<div class="row container ">
    
</div>




<div class="container">
        <h3 class="fz-30 vc m-5">Nossos Parceiros</h3>
    <div class="row  ">
        <div class="col vc s12 m4 mt-3 mb-3">
            <img src="{{URL}}/img/logofatec.png" alt="Logotipo da fatec" style="width:50%;" >
        </div>
        <div class="col vc s12 m4  mt-3 mb-3">
            <img src="{{URL}}/img/morro-dos-vagalumes.jpeg" alt="Logotipo do morro do vagalume" class="circle" style="width:50%;"  >
        </div>
        <div class="col vc s12 m4  mt-3 mb-3">
            <img src="{{URL}}/img/game-zone.jpg" alt="Logotipo do game zone" class="circle" style="width:50%;" >
        </div>
    </div>
</div>


