<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <!-- Compiled and minified CSS -->
  
    <link rel='stylesheet' href='{{URL}}/app/assets/styles.min.css'>
</head>

<body>

    {{header}}
    
    {{content}}
    
    {{footer}}
    
    
    <!-- Compiled and minified JavaScript -->
   
    <script src='https://www.google.com/recaptcha/api.js?render=6LfHswQdAAAAAPuerl_eJ6d2NPw7Ognc5OaIwNE4'></script>
  <script src='{{URL}}/app/assets/javascripts.min.js'></script>
<script>    
// Navbar
const elemsDropdown = document.querySelectorAll(".dropdown-trigger");
const instancesDropdown = M.Dropdown.init(elemsDropdown, {
    coverTrigger: false
});
const elemsSidenav = document.querySelectorAll(".sidenav");
const instancesSidenav = M.Sidenav.init(elemsSidenav, {
    edge: "left"
});
    </script>
</body>

</html>