<div class="container z-depth-1 mt-5 ">
    <div class="row ">
        <input class="float" type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" required>
        <div class="col s12 ">
            <h1 class="fzc-60 srv-c-10 ">São Roque e Você</h1>
            <p class="fzc-20 mb-3">Aplicativo de Turismo que promove o comércio, serviços e pontos turísticos da cidade</p>
        </div>
        <div class="col s12 hc"><img class="responsive-img mb-5 " src="{{URL}}/img/propaganda.jpg"></div>
        <div class="col s12 vsa">
            <a href="{{URL}}/cadastro" class="waves-effect waves-light #e1bee7 purple lighten-4  btn-large mb-5 "><i class="material-icons right">touch_app</i>Cadastre-se</a>
            <a href="{{URL}}/srv/login" class="waves-effect waves-light #e1bee7 purple lighten-4  btn-large mb-5 "><i class="material-icons  right">touch_app</i>Login</a></div>
    </div>
</div>
