<div class="container mb-5 mt-5">
    <div class="row ">
      
    <input class="float" type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" required>
    <div class="col s12 mr-5 ml-5">
        <h1 class="fzc-60 srv-c-3 ">São Roque e Você</h1>
        <p class="fzc-15 mb-3"><span class="srv-c-3">Minha Cidade e Você</span> é o aplicativo que promove o comércio, serviços, eventos, gastronomia, pontos turísticos e muito mais, 
            chega a São Roque. Saiba como criar uma página para divulgar sua empresa ou evento <span ><a href="#srv"class="srv-c-3"><b>GRATIS aqui</b></a></span> através do <b class="srv-c-3">MCV</b>.</p>
    </div>
    <div class="col s12 hc"><img class=" responsive-img m-5 " src="{{URL}}/img/propaganda.jpg">
    </div>
<div class="col s12 hc mr-5 ml-5"><h2 class="fzj-40 f-popi srv-c-3" id="srv">O Que é MCV?</h2></div>
    <div class="col s12 hc mr-5 ml-5">
        <p class="fzj-15 p-5">A plataforma <b>MCV - Minha Cidade e Você</b> é o sistema que alimenta o <b>Aplicativo SÃO ROQUE E VOCÊ</b>. 
            Através da plataforma <b>MCV</b>, você empreendedor ou promoter da cidade de São Roque, tera em poucos passos, 
            uma página exclusiva conténdo as informações necessárias para que o seus clientes tenha acesso à sua empresa ou evento 
            com maior facilidade. E tem mais o sistema possui feedbacks de seus clientes, através de um fórum de comentários da sua página no <b>Aplicativo SÃO ROQUE E VOCÊ</b>, 
            o que ajudará a entender melhor o seu público.</p>
    </div>
    <div class="col s12 hc  mr-5 ml-5">
        <p class="fzj-15 p-5 mb-3">Agora a cidade de São Roque tem em mãos um sistema com uma interface moderna e objetiva que visa melhorar a experiência do turista 
            ou morador da cidade São Roque que precisa encontrar um ponto turístico, um evento, uma hospedagem, um restaurante ou comércio em geral, fortalecendo a econômia da cidade e a inclusão das empresas na WEB.
<span><a href="{{URL}}/cadastro"><b>CLICK AQUI</b></a></span> para cadastrar sua empresa  ou evento e ter maior alcance e rentabilidade na sua empresa.</p>
    </div>

    <div class="col s12  m-1">
        <a href="{{URL}}/cadastro" class="m-3 waves-effect waves-light #e1bee7 purple lighten-4  btn-large mb-5 pulse "><i
                class="material-icons right">touch_app</i>Cadastre-se</a>
</div>
</div>
</div>
