
<nav class="nav-collection srv-bkg-1 vc">
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            {{links}}
        </ul>
    </div>
</nav>

<ul class="sidenav srv-bkg-1" id="mobile-navbar">
    {{links}}
</ul>
<script>    
    // Navbar
    const elemsDropdown = document.querySelectorAll(".dropdown-trigger");
    const instancesDropdown = M.Dropdown.init(elemsDropdown, {
        coverTrigger: false
    });
    const elemsSidenav = document.querySelectorAll(".sidenav");
    const instancesSidenav = M.Sidenav.init(elemsSidenav, {
        edge: "left"
    });
</script>   